// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 640px" !default;
$bp-larger-than-tablet    : "min-width: 800px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Responsive breakpoints for mixins
$width_mobile: 480px;
$width_phablet: 640px;
$width_tablet: 800px;
$width_laptop: 1000px;
$width_desktop: 1200px;



// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #539647 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #5b9f48 !default;
$font-color: #5a5a5a !default;
$navbar-color: rgba(252,252,252,0.95) !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
$navbar-height: 6.5rem !default;

$navbar-toggle-width: 3rem;       // width of button area
$navbar-toggle-height: 6.5rem;      // height of button area
$navbar-toggle-bar: .2rem;        // thickness of button bars
$navbar-toggle-pad: 0;       // left/right padding between button area and bars.
$navbar-toggle-bar_space: .5rem;     // spacing between button bars

$transistion_duration: .3s;


